/* styles.css */

.bookings-container {
    margin: 20px;
    padding-top: 2rem;
  }
  
  .bookings-table {
    width: 100%;
    border-collapse: collapse;
  }
  .bookings-table td.title{
    font-size: 20px;
  max-width: 250px; 
  word-wrap: break-word; 
  white-space: normal;
   font-weight: bold;
  }
  .bookings-table th, .bookings-table td {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  .bookings-table th {
    background-color: #FFAEB9;
    text-align: left;
  }
  
  .booking-row:nth-child(even) {
    background-color: #f9f9f9;
  }
  
  .booking-row:hover {
    background-color: #f1f1f1;
  }
  
  .bookings-table td {
    vertical-align: top;
  }
  
.bookings-table img {
    max-width: 100px; 
    height: auto;
    display: block;
    margin: 0 auto; 
    border: 1px solid #ccc; 
  }
  

  /* booking.css */

button.confirm-button {
  background-color: #4CAF50; /* màu xanh lá */
  color: white;
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 4px;
}

button.complete-button {
  background-color: #008CBA; 
  color: white;
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 4px;
}

button.confirm-button:hover {
  background-color: #45a049;
}

button.complete-button:hover {
  background-color: #007bb5;
}
.table-container {
  max-height: 500px; /* Adjust this value as needed */
  overflow-y: auto;
}

.title{
  color: #8B0A50;
}