.products-container {
  margin: 20px;
  margin-top: 4rem;
}

.products-table {
  width: 100%;
  border-collapse: collapse;
}

.products-table th,
.products-table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

.products-table th {
  background-color: #FFAEB9;
  color: black;
}

.products-table tr:nth-child(even) {
  background-color: #f9f9f9;
}

.products-table tr:hover {
  background-color: #dddddd;
}

.products-table img {
  max-width: 100px;
  height: auto;
  display: block;
  margin: 0 auto;
}

.loading {
  text-align: center;
  font-size: 20px;
  margin-top: 20px;
}
.action-btn {
  border: none;
  padding: 5px 10px;
  margin: 2px;
  cursor: pointer;
  color: #fff;
  font-weight: bold;
}

.edit-btn {
  background-color: #4caf50;
}

.delete-btn {
  background-color: #f44336; 
}

.header-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.action-btn.create-btn {
  background-color: #007bff;
  color: white; 
  border: none; 
  padding: 10px 20px; 
  font-size: 16px; 
  width: 250px;
  cursor: pointer; 
  transition: background-color 0.3s ease; 
}

.action-btn.create-btn:hover {
  background-color: #0056b3;
  color: white;
}


.products-table td.title {
  font-size: 20px;
  max-width: 250px; 
  word-wrap: break-word; 
  white-space: normal;
   font-weight: bold;
}

.table-container {
  max-height: 500px;
  overflow-y: auto;
}

.title{
  color: #8B0A50;
}